In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import re
from pathlib import Path

In [2]:
# Import our input dataset
athletes_df = pd.read_csv('Resources/Olympic Project.csv')
athletes_df = athletes_df.rename(columns={"ID" : "CompetitorID"})
athletes_df

,CompetitorID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [3]:
athletes_df.describe()

,CompetitorID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [4]:
athletes_df = pd.get_dummies(athletes_df, columns=['Medal'])
athletes_df

,CompetitorID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal_Bronze,Medal_Gold,Medal_Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,0,1,0
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,0,0,0
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",0,0,0
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",0,0,0
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,0,0,0
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,0,0,0

In [5]:
list(athletes_df.columns)

['CompetitorID',
 'Name',
 'Sex',
 'Age',
 'Height',
 'Weight',
 'Team',
 'NOC',
 'Games',
 'Year',
 'Season',
 'City',
 'Sport',
 'Event',
 'Medal_Bronze',
 'Medal_Gold',
 'Medal_Silver']

In [6]:
# Create new athlete dataframe
athlete_count_df = athletes_df[['CompetitorID', 'Name', 'NOC', 'Year', 'Season', 'Sport', 'Event', 'Medal_Bronze', 'Medal_Silver', 'Medal_Gold']]
athlete_count_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
0,1,A Dijiang,CHN,1992,Summer,Basketball,Basketball Men's Basketball,0,0,0
1,2,A Lamusi,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,0,0
2,3,Gunnar Nielsen Aaby,DEN,1920,Summer,Football,Football Men's Football,0,0,0
3,4,Edgar Lindenau Aabye,DEN,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,0,0,1
4,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,POL,1976,Winter,Luge,Luge Mixed (Men)'s Doubles,0,0,0
271112,135570,Piotr ya,POL,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",0,0,0
271113,135570,Piotr ya,POL,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Team",0,0,0
271114,135571,Tomasz Ireneusz ya,POL,1998,Winter,Bobsleigh,Bobsleigh Men's Four,0,0,0
271115,135571,Tomasz Ireneusz ya,POL,2002,Winter,Bobsleigh,Bobsleigh Men's Four,0,0,0

In [7]:
# Select all sports that are team only events
team_sports_df = athlete_count_df[athlete_count_df['Sport'].astype(str).str.contains("Baseball|Beach Volleyball|Bobsleigh|Cricket|Football|Handball|Hockey|Ice Hockey|Lacrosse|Polo|Rugby|Rugby Sevens|Softball|Synchronized Swimming|Tug-Of-War|Volleyball")]
team_sports_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
2,3,Gunnar Nielsen Aaby,DEN,1920,Summer,Football,Football Men's Football,0,0,0
3,4,Edgar Lindenau Aabye,DEN,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,0,0,1
28,9,Antti Sami Aalto,FIN,2002,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,0,0,0
40,16,Juhamatti Tapio Aaltonen,FIN,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,1,0,0
79,21,Ragnhild Margrethe Aamodt,NOR,2008,Summer,Handball,Handball Women's Handball,0,0,1
...,...,...,...,...,...,...,...,...,...,...
271105,135565,Fernando scar Zylberberg,ARG,2000,Summer,Hockey,Hockey Men's Hockey,0,0,0
271106,135565,Fernando scar Zylberberg,ARG,2004,Summer,Hockey,Hockey Men's Hockey,0,0,0
271107,135566,"James Francis ""Jim"" Zylker",USA,1972,Summer,Football,Football Men's Football,0,0,0
271114,135571,Tomasz Ireneusz ya,POL,1998,Winter,Bobsleigh,Bobsleigh Men's Four,0,0,0
271115,135571,Tomasz Ireneusz ya,POL,2002,Winter,Bobsleigh,Bobsleigh Men's Four,0,0,0

In [8]:
# Drop all team members
team_sports_dropped_df = team_sports_df.drop_duplicates(subset=['NOC', 'Year', 'Sport', 'Event'])
team_sports_dropped_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
2,3,Gunnar Nielsen Aaby,DEN,1920,Summer,Football,Football Men's Football,0,0,0
3,4,Edgar Lindenau Aabye,DEN,1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,0,0,1
28,9,Antti Sami Aalto,FIN,2002,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,0,0,0
40,16,Juhamatti Tapio Aaltonen,FIN,2014,Winter,Ice Hockey,Ice Hockey Men's Ice Hockey,1,0,0
79,21,Ragnhild Margrethe Aamodt,NOR,2008,Summer,Handball,Handball Women's Handball,0,0,1
...,...,...,...,...,...,...,...,...,...,...
263418,131810,Wu Penggen,CHN,2008,Summer,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,0,0,0
263419,131810,Wu Penggen,CHN,2012,Summer,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,0,0,0
264022,132112,Xue Chen,CHN,2012,Summer,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,0,0,0
264673,132448,"Tsvetelina ""Lina"" Yanchulova",BUL,2000,Summer,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,0,0,0
264674,132448,"Tsvetelina ""Lina"" Yanchulova",BUL,2004,Summer,Beach Volleyball,Beach Volleyball Women's Beach Volleyball,0,0,0

In [9]:
# Remove all members of a team from the athletes dataframe
athlete_countv1_df = pd.merge(athlete_count_df, team_sports_df, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
athlete_countv1_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
0,1,A Dijiang,CHN,1992,Summer,Basketball,Basketball Men's Basketball,0,0,0
1,2,A Lamusi,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,0,0
4,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
5,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",0,0,0
6,5,Christine Jacoba Aaftink,NED,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
...,...,...,...,...,...,...,...,...,...,...
271109,135567,Aleksandr Viktorovich Zyuzin,RUS,2004,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,0,0,0
271110,135568,Olga Igorevna Zyuzkova,BLR,2016,Summer,Basketball,Basketball Women's Basketball,0,0,0
271111,135569,Andrzej ya,POL,1976,Winter,Luge,Luge Mixed (Men)'s Doubles,0,0,0
271112,135570,Piotr ya,POL,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",0,0,0
271113,135570,Piotr ya,POL,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Team",0,0,0

In [10]:
# Select all members of teams that are not obvious team sports
teams_df = athlete_count_df[athlete_count_df['Event'].astype(str).str.contains("Team|Relay|Doubles|Two-Man|Fours|Synchronized|Two Person")]
teams_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
13,6,Per Knut Aaland,USA,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0,0,0
17,6,Per Knut Aaland,USA,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0,0,0
21,7,John Aalberg,USA,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0,0,0
25,7,John Aalberg,USA,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0,0,0
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",NED,1932,Summer,Athletics,Athletics Women's 4 x 100 metres Relay,0,0,0
...,...,...,...,...,...,...,...,...,...,...
271104,135564,Yevgeny Aleksandrovich Zykov,RUS,2002,Winter,Luge,Luge Mixed (Men)'s Doubles,0,0,0
271108,135567,Aleksandr Viktorovich Zyuzin,RUS,2000,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,0,0,0
271109,135567,Aleksandr Viktorovich Zyuzin,RUS,2004,Summer,Rowing,Rowing Men's Lightweight Coxless Fours,0,0,0
271111,135569,Andrzej ya,POL,1976,Winter,Luge,Luge Mixed (Men)'s Doubles,0,0,0
271113,135570,Piotr ya,POL,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Team",0,0,0

In [11]:
# Drop all team members from teams df
teams_dropped_df = teams_df.drop_duplicates(subset=['NOC', 'Year', 'Sport', 'Event'])
teams_dropped_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
13,6,Per Knut Aaland,USA,1992,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0,0,0
17,6,Per Knut Aaland,USA,1994,Winter,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0,0,0
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",NED,1932,Summer,Athletics,Athletics Women's 4 x 100 metres Relay,0,0,0
42,17,Paavo Johannes Aaltonen,FIN,1948,Summer,Gymnastics,Gymnastics Men's Team All-Around,0,0,1
50,17,Paavo Johannes Aaltonen,FIN,1952,Summer,Gymnastics,Gymnastics Men's Team All-Around,1,0,0
...,...,...,...,...,...,...,...,...,...,...
265430,132824,Ro'l Yellin,ISR,2000,Summer,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",0,0,0
266630,133378,Yu Xinyuan,CHN,2008,Summer,Tennis,Tennis Men's Doubles,0,0,0
267690,133923,Gabrio Zandon,ITA,2012,Summer,Sailing,Sailing Men's Two Person Dinghy,0,0,0
268502,134322,Ladislav emla,BOH,1906,Summer,Tennis,Tennis Men's Doubles,1,0,0
269417,134810,Shirley Zhou,AUS,1996,Summer,Table Tennis,Table Tennis Women's Doubles,0,0,0

In [12]:
# Remove all members of a team from sports that are not obvious team sports from the athletes dataframe
athlete_countv2_df = pd.merge(athlete_countv1_df, teams_df, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
athlete_countv2_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
0,1,A Dijiang,CHN,1992,Summer,Basketball,Basketball Men's Basketball,0,0,0
1,2,A Lamusi,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,0,0
2,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
3,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",0,0,0
4,5,Christine Jacoba Aaftink,NED,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
...,...,...,...,...,...,...,...,...,...,...
235797,135559,Pawe Jan Zygmunt,POL,2006,Winter,Speed Skating,"Speed Skating Men's 5,000 metres",0,0,0
235798,135560,Stavroula Zygouri,GRE,2004,Summer,Wrestling,"Wrestling Women's Middleweight, Freestyle",0,0,0
235799,135561,Frantiek Zyka,TCH,1928,Summer,Athletics,Athletics Men's Marathon,0,0,0
235806,135568,Olga Igorevna Zyuzkova,BLR,2016,Summer,Basketball,Basketball Women's Basketball,0,0,0
235808,135570,Piotr ya,POL,2014,Winter,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",0,0,0

In [13]:
# Concat athlete_countv2_df with team_sports_dropped_df and teams_dropped_df to add back in each team dropped from the dataset
dataframes = [athlete_countv2_df, team_sports_dropped_df, teams_dropped_df]
athlete_count_clean_df = pd.concat(dataframes)
athlete_count_clean_df

,CompetitorID,Name,NOC,Year,Season,Sport,Event,Medal_Bronze,Medal_Silver,Medal_Gold
0,1,A Dijiang,CHN,1992,Summer,Basketball,Basketball Men's Basketball,0,0,0
1,2,A Lamusi,CHN,2012,Summer,Judo,Judo Men's Extra-Lightweight,0,0,0
2,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
3,5,Christine Jacoba Aaftink,NED,1988,Winter,Speed Skating,"Speed Skating Women's 1,000 metres",0,0,0
4,5,Christine Jacoba Aaftink,NED,1992,Winter,Speed Skating,Speed Skating Women's 500 metres,0,0,0
...,...,...,...,...,...,...,...,...,...,...
265430,132824,Ro'l Yellin,ISR,2000,Summer,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",0,0,0
266630,133378,Yu Xinyuan,CHN,2008,Summer,Tennis,Tennis Men's Doubles,0,0,0
267690,133923,Gabrio Zandon,ITA,2012,Summer,Sailing,Sailing Men's Two Person Dinghy,0,0,0
268502,134322,Ladislav emla,BOH,1906,Summer,Tennis,Tennis Men's Doubles,1,0,0
269417,134810,Shirley Zhou,AUS,1996,Summer,Table Tennis,Table Tennis Women's Doubles,0,0,0

In [14]:
athlete_count_final_df = athlete_count_clean_df[['CompetitorID', 'NOC', 'Year', 'Season']]
athlete_count_final_df

        CompetitorID  NOC  Year  Season
0                  1  CHN  1992  Summer
1                  2  CHN  2012  Summer
2                  5  NED  1988  Winter
3                  5  NED  1988  Winter
4                  5  NED  1992  Winter
...              ...  ...   ...     ...
265430        132824  ISR  2000  Summer
266630        133378  CHN  2008  Summer
267690        133923  ITA  2012  Summer
268502        134322  BOH  1906  Summer
269417        134810  AUS  1996  Summer

[203360 rows x 4 columns]

In [15]:
# Summer olympic participation count across all years
summer_count = athlete_count_clean_df[athlete_count_clean_df['Season'] == 'Summer'].groupby(['NOC', 'Year']).size()
summer_count_df = pd.DataFrame(summer_count, columns=['summer_athlete_count'])
summer_count_df.head()

          summer_athlete_count
NOC Year
AFG 1936                     4
    1948                     2
    1956                     1
    1960                    13
    1964                     8

In [16]:
# Winter olympic participation count across all years
winter_count = athlete_count_clean_df[athlete_count_clean_df['Season'] == 'Winter'].groupby(['NOC', 'Year']).size()
winter_count_df = pd.DataFrame(winter_count, columns=['winter_athlete_count'])
winter_count_df.head()

          winter_athlete_count
NOC Year
AHO 1988                     2
    1992                     1
ALB 2006                     3
    2010                     2
    2014                     2

In [17]:
# Summer olympic medal counts
summer_medal_count = athlete_count_clean_df[athlete_count_clean_df['Season'] == 'Summer'].groupby(['NOC', 'Year'])['Medal_Bronze', 'Medal_Silver', 'Medal_Gold'].sum()
summer_medal_count_df = pd.DataFrame(summer_medal_count, columns=['Medal_Bronze', 'Medal_Silver', 'Medal_Gold'])
summer_medal_count_df

C:\Users\benja\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

          Medal_Bronze  Medal_Silver  Medal_Gold
NOC Year
AFG 1936             0             0           0
    1948             0             0           0
    1956             0             0           0
    1960             0             0           0
    1964             0             0           0
...                ...           ...         ...
ZIM 2000             0             0           0
    2004             1             1           1
    2008             0             3           1
    2012             0             0           0
    2016             0             0           0

[2810 rows x 3 columns]

In [18]:
# Winter olympic medal counts
winter_medal_count = athlete_count_clean_df[athlete_count_clean_df['Season'] == 'Winter'].groupby(['NOC', 'Year'])['Medal_Bronze', 'Medal_Silver', 'Medal_Gold'].sum()
winter_medal_count_df = pd.DataFrame(winter_medal_count, columns=['Medal_Bronze', 'Medal_Silver', 'Medal_Gold'])
winter_medal_count_df

C:\Users\benja\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

          Medal_Bronze  Medal_Silver  Medal_Gold
NOC Year
AHO 1988             0             0           0
    1992             0             0           0
ALB 2006             0             0           0
    2010             0             0           0
    2014             0             0           0
...                ...           ...         ...
YUG 1980             0             0           0
    1984             0             1           0
    1988             1             2           0
    1992             0             0           0
ZIM 2014             0             0           0

[1027 rows x 3 columns]

In [25]:
host_df = pd.read_csv('CSV_In_Progress/Host_Country.csv')
host_df = host_df.drop(['Country', 'Continent', 'Summer', 'Winter', 'City'], axis=1)
host_df['Host'] = 1
host_df

    NOC  Year  Host
0   GRE  1896     1
1   FRA  1900     1
2   USA  1904     1
3   GBR  1908     1
4   SWE  1912     1
5   BEL  1920     1
6   FRA  1924     1
7   FRA  1924     1
8   SUI  1928     1
9   NED  1928     1
10  USA  1932     1
11  USA  1932     1
12  GER  1936     1
13  GER  1936     1
14  SUI  1948     1
15  GBR  1948     1
16  NOR  1952     1
17  FIN  1952     1
18  ITA  1956     1
19  AUS  1956     1
20  SWE  1956     1
21  USA  1960     1
22  ITA  1960     1
23  AUT  1964     1
24  JPN  1964     1
25  FRA  1968     1
26  MEX  1968     1
27  JPN  1972     1
28  FRG  1972     1
29  AUT  1976     1
30  CAN  1976     1
31  USA  1980     1
32  URS  1980     1
33  YUG  1984     1
34  USA  1984     1
35  CAN  1988     1
36  KOR  1988     1
37  FRA  1992     1
38  ESP  1992     1
39  NOR  1994     1
40  USA  1996     1
41  JPN  1998     1
42  AUS  2000     1
43  USA  2002     1
44  GRE  2004     1
45  ITA  2006     1
46  CHN  2008     1
47  CAN  2010     1
48  GBR  2012     1
49  RUS  2014     1
50  BRA  2016     1
51  KOR  2018     1
52  JPN  2020     1
53  CHN  2022     1
54  FRA  2024     1
55  ITA  2026     1
56  USA  2028     1
57  AUS  2032     1

In [37]:
final_athlete_count_df = pd.merge(athlete_count_final_df, host_df, how='left', left_on=['NOC', 'Year'], right_on=['NOC', 'Year'])
final_athlete_count_df['Host'] = final_athlete_count_df['Host'].fillna(0)
final_athlete_count_df['Host'] = final_athlete_count_df['Host'].astype(int)
final_athlete_count_df = final_athlete_count_df.reset_index(drop=True)
final_athlete_count_df

        CompetitorID  NOC  Year  Season  Host
0                  1  CHN  1992  Summer     0
1                  2  CHN  2012  Summer     0
2                  5  NED  1988  Winter     0
3                  5  NED  1988  Winter     0
4                  5  NED  1992  Winter     0
...              ...  ...   ...     ...   ...
205122        132824  ISR  2000  Summer     0
205123        133378  CHN  2008  Summer     1
205124        133923  ITA  2012  Summer     0
205125        134322  BOH  1906  Summer     0
205126        134810  AUS  1996  Summer     0

[205127 rows x 5 columns]

In [38]:
final_athlete_count_df.to_csv('CSV_In_Progress/athlete_count_final.csv')