In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read Summer Csv
summer_ml_file = pd.read_csv('summer_ML_final.csv')
summer_ml_file

,Year,Season,Country,NOC,Population,gdp_per_capita,athlete_share,Host,country_medal_total,medal_share_predicted,positive_medal_share,Difference_Acutal_Predicted,Latitude,Longitude
0,2016,summer,Afghanistan,AFG,35383028,1929.0,0.000306,0,0,-0.002855,0.000000,0.000000,33.768006,66.238514
1,2016,summer,Albania,ALB,2876101,10342.0,0.000612,0,0,-0.003305,0.000000,0.000000,41.000028,19.999962
2,2016,summer,Algeria,ALG,40551398,14331.0,0.005818,0,2,0.004547,0.004547,-2.351654,28.000027,2.999983
3,2016,summer,Angola,ANG,28842482,8453.0,0.001123,0,0,-0.002044,0.000000,0.000000,-11.877577,17.569124
4,2016,summer,Argentina,ARG,43590368,18875.0,0.011227,0,4,0.012016,0.012016,-7.499407,-34.996496,-64.967282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,2016,summer,Venezuela,VEN,29851249,15219.0,0.009798,0,3,0.009878,0.009878,-6.453286,8.001871,-66.110932
157,2016,summer,Vietnam,VIE,93640435,6062.0,0.002858,0,2,0.001672,0.001672,0.399532,13.290403,108.426511
158,2016,summer,NaN,YEM,27168210,2506.0,0.000306,0,0,-0.003028,0.000000,0.000000,NaN,NaN
159,2016,summer,Zambia,ZAM,16363449,3479.0,0.000714,0,0,-0.002691,0.000000,0.000000,-14.518624,27.559916
160,2016,summer,Zimbabwe,ZIM,14030338,1534.0,0.001531,0,0,-0.001533,0.000000,0.000000,-18.455496,29.746841

In [5]:
summer_ml_file.columns

Index(['Year', 'Season', 'Country', 'NOC', 'Population', 'gdp_per_capita',
       'athlete_share', 'Host', 'country_medal_total', 'medal_share_predicted',
       'positive_medal_share', 'Difference_Acutal_Predicted', 'Latitude',
       'Longitude'],
      dtype='object')

In [6]:
# merging two csv files
merged_df = pd.concat(
    map(pd.read_csv, ['summer_ML_final.csv', 'winter_ML_final.csv']), ignore_index=True)
print(merged_df)

     Year  Season      Country  NOC  Population  gdp_per_capita  \
0    2016  summer  Afghanistan  AFG    35383028          1929.0
1    2016  summer      Albania  ALB     2876101         10342.0
2    2016  summer      Algeria  ALG    40551398         14331.0
3    2016  summer       Angola  ANG    28842482          8453.0
4    2016  summer    Argentina  ARG    43590368         18875.0
..    ...     ...          ...  ...         ...             ...
317  2016  summer    Venezuela  VEN    29851249         15219.0
318  2016  summer      Vietnam  VIE    93640435          6062.0
319  2016  summer          NaN  YEM    27168210          2506.0
320  2016  summer       Zambia  ZAM    16363449          3479.0
321  2016  summer     Zimbabwe  ZIM    14030338          1534.0

     athlete_share  Host  country_medal_total  medal_share_predicted  \
0         0.000306     0                    0              -0.002855
1         0.000612     0                    0              -0.003305
2         0.005818     0                    2               0.004547
3         0.001123     0                    0              -0.002044
4         0.011227     0                    4               0.012016
..             ...   ...                  ...                    ...
317       0.009798     0                    3               0.009878
318       0.002858     0                    2               0.001672
319       0.000306     0                    0              -0.003028
320       0.000714     0                    0              -0.002691
321       0.001531     0                    0              -0.001533

     positive_medal_share  Difference_Acutal_Predicted   Latitude   Longitude
0                0.000000                     0.000000  33.768006   66.238514
1                0.000000                     0.000000  41.000028   19.999962
2                0.004547                    -2.351654  28.000027    2.999983
3                0.000000                     0.000000 -11.877577   17.569124
4                0.012016                    -7.499407 -34.996496  -64.967282
..                    ...                          ...        ...         ...
317              0.009878                    -6.453286   8.001871  -66.110932
318              0.001672                     0.399532  13.290403  108.426511
319              0.000000                     0.000000        NaN         NaN
320              0.000000                     0.000000 -14.518624   27.559916
321              0.000000                     0.000000 -18.455496   29.746841

[322 rows x 14 columns]

In [34]:
# files_merged.columns

Index(['Year_x', 'Season_x', 'Country', 'NOC_x', 'Population_x',
       'gdp_per_capita_x', 'athlete_share_x', 'Host_x',
       'country_medal_total_x', 'medal_share_predicted_x',
       'positive_medal_share_x', 'Difference_Acutal_Predicted_x', 'Latitude_x',
       'Longitude_x', 'Year_y', 'Season_y', 'NOC_y', 'Population_y',
       'gdp_per_capita_y', 'athlete_share_y', 'Host_y',
       'country_medal_total_y', 'medal_share_predicted_y',
       'positive_medal_share_y', 'Difference_Acutal_Predicted_y', 'Latitude_y',
       'Longitude_y'],
      dtype='object')

In [ ]:
# Convert Pandas Df to JSON
#json_output = r"C:\Users\Lenovo\Documents\olympic_medal_analysis\Clean_Country_population.json"
#output = current_pop.to_json(json_output, indent = 1)

In [ ]:
# Export clean Population df as a CSV
# clean_pop.to_csv('Winter_Summer_Olympics', index=False)