In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Load the dataset
olympic_df = pd.read_csv('..\Resources\Machine_Learning_datasetv2.csv')
olympic_df = olympic_df.drop(['Unnamed: 0'], axis=1)

In [3]:
#Sort for Winter Olympics Results
summer_olympic_df = olympic_df[olympic_df['Season'] == 'Winter']
summer_olympic_df

,NOC,Year,Season,Host,athlete_count_x,Population,GDP per capita,Gold,Silver,Bronze,country_medal_total,athlete_count_y,olympic_total,medal_share,athlete_share
1611,ALB,2006,Winter,0,3,2992547.0,7347.33,0.0,0.0,0.0,0.0,3315,252.0,0.000000,0.000905
1612,ALG,2006,Winter,0,3,33641007.0,10385.78,0.0,0.0,0.0,0.0,3315,252.0,0.000000,0.000905
1613,ARG,2006,Winter,0,17,39289876.0,16490.47,0.0,0.0,0.0,0.0,3315,252.0,0.000000,0.005128
1614,ARM,2006,Winter,0,8,2958301.0,8798.75,0.0,0.0,0.0,0.0,3315,252.0,0.000000,0.002413
1615,AUS,2006,Winter,0,40,20697900.0,42650.99,1.0,0.0,1.0,2.0,3315,252.0,0.007937,0.012066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498,TUR,2002,Winter,0,5,65145357.0,11753.95,0.0,0.0,0.0,0.0,3116,234.0,0.000000,0.001605
2499,UKR,2002,Winter,0,79,48202470.0,6262.98,0.0,0.0,0.0,0.0,3116,234.0,0.000000,0.025353
2500,USA,2002,Winter,1,232,287625193.0,46266.30,10.0,13.0,11.0,34.0,3116,234.0,0.145299,0.074454
2501,UZB,2002,Winter,0,6,25271850.0,4777.29,0.0,0.0,0.0,0.0,3116,234.0,0.000000,0.001926
2502,VEN,2002,Winter,0,4,25100407.0,12856.05,0.0,0.0,0.0,0.0,3116,234.0,0.000000,0.001284

In [4]:
# Removing 2016
summer_olympic_df = summer_olympic_df[summer_olympic_df['Year'] != '2016']

In [5]:
#Breaking off columns that will not be used in un-supervised learning

break_off_df = summer_olympic_df[['NOC', 'Year', 'Season', 'athlete_count_x', 'Population', 'country_medal_total', 'athlete_count_y', 'olympic_total', 'medal_share']]
break_off_df.head()

,NOC,Year,Season,athlete_count_x,Population,country_medal_total,athlete_count_y,olympic_total,medal_share
1611,ALB,2006,Winter,3,2992547.0,0.0,3315,252.0,0.000000
1612,ALG,2006,Winter,3,33641007.0,0.0,3315,252.0,0.000000
1613,ARG,2006,Winter,17,39289876.0,0.0,3315,252.0,0.000000
1614,ARM,2006,Winter,8,2958301.0,0.0,3315,252.0,0.000000
1615,AUS,2006,Winter,40,20697900.0,2.0,3315,252.0,0.007937

In [6]:
#creating a dataframe of columns to supervised learning model on

Cleaned_summer_df = summer_olympic_df.drop(['NOC', 'Year', 'Season', 'athlete_count_x', 'country_medal_total', 'athlete_count_y', 'olympic_total', 'medal_share', 'Gold', 'Silver', 'Bronze' ], axis=1 )
Cleaned_summer_df['lnPopulation'] = np.log(Cleaned_summer_df['Population'])
print(Cleaned_summer_df.shape)
Cleaned_summer_df.head(10)

(711, 5)

      Host  Population  GDP per capita  athlete_share  lnPopulation
1611     0   2992547.0         7347.33       0.000905     14.911635
1612     0  33641007.0        10385.78       0.000905     17.331256
1613     0  39289876.0        16490.47       0.005128     17.486477
1614     0   2958301.0         8798.75       0.002413     14.900126
1615     0  20697900.0        42650.99       0.012066     16.845543
1616     0   8268641.0        38866.85       0.033183     15.927981
1617     0   8484550.0        10160.35       0.000603     15.953757
1618     0  10547958.0        37051.90       0.002413     16.171443
1619     0   3765422.0         8410.80       0.002715     15.141370
1620     0   9604924.0        13792.55       0.018401     16.077786

In [7]:
#Dropping Population

Cleaned_summer_df = Cleaned_summer_df.drop(['Population'], axis=1)
Cleaned_summer_df

      Host  GDP per capita  athlete_share  lnPopulation
1611     0         7347.33       0.000905     14.911635
1612     0        10385.78       0.000905     17.331256
1613     0        16490.47       0.005128     17.486477
1614     0         8798.75       0.002413     14.900126
1615     0        42650.99       0.012066     16.845543
...    ...             ...            ...           ...
2498     0        11753.95       0.001605     17.992132
2499     0         6262.98       0.025353     17.690921
2500     1        46266.30       0.074454     19.477169
2501     0         4777.29       0.001926     17.045202
2502     0        12856.05       0.001284     17.038395

[711 rows x 4 columns]

In [8]:
X = Cleaned_summer_df

In [9]:
X.shape

(711, 4)

In [10]:
y = summer_olympic_df.medal_share

In [11]:
y.shape

(711,)

In [12]:
# Create a model with scikit-learn
model = LinearRegression()

In [13]:
# Fit the data into the model
model.fit(X, y)

LinearRegression()

In [14]:
y_pred = model.predict(X)

In [15]:
# Plot the results. The best fit line is red.
# plt.scatter(X, y)
# plt.plot(X, y_pred, color='red')
# plt.show()

In [16]:
r2 = model.score(X, y)
r2

0.5729396470350685

In [17]:
y_pred = model.predict(X)
y_pred
# print('Predicted response:', y_pred, sep='\n')

array([-5.22541330e-03, -8.48525210e-03, -1.38317202e-03, -2.83566870e-03,
        1.78321801e-02,  4.38001131e-02, -6.44378477e-03,  5.24608648e-03,
       -3.04741778e-03,  1.63268910e-02, -8.88889502e-03,  9.00842383e-03,
        8.22118156e-02,  8.44308288e-03, -6.65145309e-06,  2.81677159e-02,
       -5.33609474e-03,  1.22391475e-02,  3.58270179e-03,  4.15811541e-02,
        7.53842091e-03,  8.09886209e-03,  2.05391631e-02, -1.42443214e-02,
        3.51784820e-02,  4.86625301e-02,  1.68208512e-02, -5.30954011e-03,
        6.13565433e-02,  1.74208157e-03,  5.33609150e-03,  6.13234703e-03,
       -1.66454697e-02,  1.10126097e-02,  1.37387935e-02,  1.38867245e-03,
        9.46749358e-02,  5.55379966e-02,  1.76853370e-02, -1.24105080e-02,
       -7.97715854e-03,  2.32160185e-02,  1.80011620e-02,  2.53595160e-03,
        1.48583611e-02, -1.11377988e-02, -3.72686614e-03, -6.01501308e-03,
       -3.01976758e-03,  2.10621839e-02, -1.18818998e-02,  6.70374212e-02,
        7.92470300e-03,  2.07792245e-02, -1.81781351e-03, -9.57270704e-03,
        6.82966552e-03, -7.09340377e-03,  6.32870918e-02, -9.56806610e-03,
        3.25222981e-02,  4.98570303e-02,  2.63028113e-02,  4.62473030e-02,
       -9.77371322e-03, -8.51421169e-03, -3.15385706e-03,  2.32139177e-02,
        8.67415817e-02, -9.46806812e-03, -6.65563803e-03, -4.86834656e-03,
       -8.53872333e-03,  4.28295594e-04, -3.73273349e-03,  1.95363414e-02,
        4.49897614e-02, -3.65227309e-03,  5.74552751e-03, -2.50969006e-03,
        1.78946220e-02, -8.84234988e-03,  8.42403633e-03,  1.03119776e-01,
        6.82466163e-03, -1.62399293e-03,  1.87922077e-02, -9.10505123e-03,
        9.37817048e-03,  4.35638174e-03,  4.29069508e-02,  1.39183361e-02,
        1.02979515e-02,  1.91438426e-02, -1.43676792e-02,  3.72452163e-02,
        6.06326579e-02,  2.20176087e-02, -3.10723648e-03,  6.78281600e-02,
       -1.14070035e-02,  2.66599279e-03,  6.37345730e-03,  6.60156924e-03,
       -1.71746442e-02,  1.02393481e-02,  1.08777515e-02,  1.22294173e-03,
        5.99545267e-02, -5.97106543e-03,  4.31594356e-02,  2.62249792e-02,
       -7.56766102e-03,  2.27042862e-02,  1.52075308e-02,  2.09236318e-03,
       -1.00641192e-02, -3.28655638e-03, -9.49073281e-03, -5.25608274e-03,
       -2.84971733e-03, -1.25731436e-04,  2.30660147e-02, -1.18547561e-02,
        7.15210625e-02,  9.82863428e-03, -1.44702339e-02, -7.84107185e-03,
        2.60120049e-02, -1.59302830e-03, -1.11084582e-02,  6.86351249e-03,
       -9.28354700e-03,  6.33041045e-02, -1.01266742e-02,  3.50787869e-02,
       -1.91803772e-03,  5.81764880e-02,  1.74257993e-02,  4.63653457e-02,
       -8.16022042e-03, -5.47166343e-03,  1.91071172e-02,  8.78742389e-02,
       -8.73223593e-03, -4.69958023e-03, -1.89694777e-04, -3.42202306e-03,
        3.05546054e-02,  5.70208080e-02, -3.39584047e-03,  5.92853871e-03,
       -1.30355050e-03,  1.55935127e-02, -6.75885115e-03,  9.33062176e-03,
        8.56169877e-02,  8.68009802e-03,  2.08117385e-04,  1.52734069e-02,
        5.67278390e-03,  2.32853794e-03,  3.98442295e-02,  1.10276861e-02,
        1.56070219e-03,  1.01958183e-02,  1.88089730e-02,  3.47523490e-02,
        5.35257519e-02,  1.95777043e-02, -3.32817426e-03,  6.61029662e-02,
        1.13324565e-03,  6.99127087e-03,  7.79500200e-03, -1.73411817e-02,
        1.21569154e-02,  1.27719518e-02,  2.40035883e-03,  5.75998960e-02,
       -6.05045602e-03,  3.78422292e-02,  2.88745354e-02, -7.86851336e-03,
        3.15002902e-02,  1.35108882e-02,  6.14838419e-03,  1.45927005e-02,
       -9.27184242e-03, -5.18524160e-03, -9.55246166e-03, -3.82183737e-03,
       -1.99319546e-03,  5.04285854e-03,  8.44077000e-04,  2.58505125e-02,
       -1.17793743e-02,  7.52694002e-02,  8.41401602e-03, -1.44720256e-02,
       -7.04730936e-03, -7.44222961e-03, -1.25676827e-02,  3.31733642e-02,
       -9.86917540e-04,  5.23007199e-03,  9.54613899e-02,  2.91144337e-02,
       -6.89352125e-04,  6.27767606e-02,  2.20195797e-02,  3.61081452e-02,
       -8.31807056e-03, -9.19658793e-03, -9.11938319e-03, -4.19576254e-03,
        1.57160902e-02,  8.85632133e-02, -8.25387889e-03, -5.40325710e-03,
       -1.05177376e-02, -7.02267237e-03,  1.52724791e-02,  1.73408885e-02,
        5.15466736e-02,  1.24581296e-03, -5.08258767e-03, -4.88229619e-03,
        2.18994976e-02,  6.69468437e-02,  7.11535210e-03, -1.15152684e-03,
        1.60391078e-02, -3.09066975e-03, -2.16360387e-03,  5.22462521e-03,
        8.04627877e-03,  1.58530642e-02,  1.85742150e-02,  3.93739820e-02,
        8.58034638e-02,  3.39704640e-02,  6.96651481e-02,  6.88116217e-03,
       -7.32844576e-03,  2.20290141e-02, -1.64874879e-02, -1.45375485e-03,
        1.31329711e-02,  6.22639362e-02, -5.31036589e-03,  5.60185160e-02,
        1.71076228e-02,  7.28209658e-03,  1.18089637e-03,  1.16903203e-02,
        7.05581584e-04,  3.35509632e-03, -2.05110462e-03,  1.79629041e-02,
        6.39192115e-02,  2.10103086e-03, -1.22950142e-02,  2.44450855e-02,
        7.14340322e-03, -1.05684758e-03,  1.69103354e-02, -4.83621021e-03,
        2.62762435e-02,  4.93660661e-02,  5.15693897e-02, -3.77651593e-03,
       -2.02473635e-03,  9.11527659e-02,  1.07485964e-02,  2.53164332e-02,
        5.32363590e-02,  1.23573706e-02,  7.71412799e-02,  1.65905655e-02,
        8.79796750e-03, -3.49753589e-04,  5.76915526e-03,  6.96199295e-02,
        6.46181679e-02,  4.65677226e-02,  1.18272113e-01, -3.35490591e-03,
        1.44135708e-02,  6.79018408e-02,  6.42237921e-02,  1.62705879e-02,
        1.19638053e-02,  6.91462913e-02,  1.40786345e-02,  2.15634242e-02,
       -4.68416564e-03,  4.87927622e-02,  6.72539634e-02, -3.34839506e-03,
        1.34455062e-01,  6.97730966e-03,  9.41168045e-03,  1.05539030e-01,
        2.43276970e-04,  9.58132552e-03,  6.54882512e-02,  1.14030059e-02,
        3.53399588e-03,  1.70875480e-03,  2.16307885e-03,  6.65279875e-02,
        4.16036604e-02,  4.72506670e-02,  1.08568202e-01, -9.65614741e-04,
        1.71423423e-02, -1.66871481e-02,  1.16390027e-02,  5.57874452e-02,
        5.89606380e-02,  4.80623134e-03,  1.68557967e-02,  6.87088216e-03,
        7.07207190e-02,  5.55148940e-02, -1.91485161e-03,  7.42408381e-02,
        7.60648962e-02,  9.59840968e-04,  9.30642395e-02,  4.64684939e-03,
        2.87775599e-03,  8.00238359e-02,  7.44802821e-03,  8.65981610e-02,
        1.21647492e-02,  4.24472433e-03,  3.78865282e-03,  1.00717183e-02,
        7.49333607e-02,  1.07927171e-01,  4.92685045e-02,  1.13411404e-03,
        1.52999662e-02, -1.45399651e-02,  9.88328521e-03,  6.20926215e-02,
        7.04190539e-02,  3.43783226e-03, -2.07106705e-03,  4.30837636e-03,
        2.40340948e-02,  8.96578364e-02,  1.42069382e-02,  3.87818299e-02,
        5.50994851e-03,  5.27731805e-02,  8.61358108e-02,  7.28946629e-03,
        1.05885757e-01, -3.62124502e-04,  1.15708215e-02,  6.50012063e-02,
       -4.14887028e-04,  8.07546671e-03,  9.24188597e-02, -1.45798226e-04,
        7.23635037e-02,  6.90290355e-02,  6.56822758e-02,  1.34515889e-03,
       -6.81971799e-03,  5.83430951e-02,  1.38979571e-01,  2.52840950e-03,
        3.54149255e-03,  3.03452821e-02,  1.14307827e-01,  5.97510416e-03,
       -7.19621266e-03,  4.29414966e-02,  7.58248824e-03,  6.43435697e-02,
        9.01944173e-02,  1.39413694e-01,  1.06703141e-02,  1.86354798e-02,
        1.11477313e-01,  9.54517301e-03,  1.86052617e-02,  1.02630328e-01,
        1.22484843e-02,  4.21833920e-03,  4.29918968e-03,  5.96055843e-02,
        4.93171708e-02,  5.67556462e-02,  5.54174854e-03, -4.36682653e-03,
        2.19572199e-02,  8.12294517e-02,  6.23452516e-02, -1.06819321e-03,
        2.35999691e-02,  7.97765249e-02,  1.37167867e-02,  6.58536581e-02,
        4.57499921e-03,  6.50829061e-02,  7.33517650e-02,  7.48103161e-03,
        1.25881962e-01,  2.09606535e-02,  2.06734984e-02,  6.08773252e-02,
        4.91238928e-03,  1.51616615e-03,  1.28759751e-02,  7.03253861e-02,
        2.56689269e-02, -1.93238076e-03,  4.73414915e-03,  1.06039680e-02,
        7.01220335e-02,  4.26254820e-02,  6.94616367e-02,  1.73388202e-03,
       -5.09857455e-03,  1.98858344e-02,  6.83149193e-02,  6.33515812e-02,
        1.90882292e-02,  5.30570446e-03,  3.23461283e-02,  9.19777589e-02,
        1.21078394e-02,  1.52654283e-02,  4.60727123e-03,  7.59139903e-02,
        9.44230838e-02,  1.61534224e-01,  2.65966908e-02,  1.76548089e-02,
        6.86078734e-02,  6.88315014e-03, -3.78256682e-03,  2.40148993e-02,
        6.78052538e-02,  1.20526016e-02,  3.89015915e-03,  4.48551095e-02,
        1.07345612e-03,  8.18980812e-03, -9.51858924e-03,  1.76677607e-02,
        5.25329779e-02,  4.67723256e-02,  5.51736555e-02,  7.66655334e-03,
        6.15019342e-03,  1.52776239e-02,  7.28818352e-02,  5.75503665e-02,
        2.89117549e-02, -3.99728427e-03, -8.11880108e-03,  1.91346693e-03,
        2.60306346e-02,  7.19536377e-02,  8.21860203e-03,  1.37042735e-02,
       -3.33493097e-03,  1.56757801e-02, -7.55159027e-03,  6.56349008e-02,
        6.72075762e-02, -1.13195773e-04,  1.14687592e-01,  2.69394634e-02,
        2.17610820e-02,  8.43596490e-02, -8.70038711e-04, -2.78941537e-03,
        2.39840784e-02,  1.35076219e-01,  1.27509499e-02,  4.55437337e-03,
       -6.56008444e-03, -2.32471728e-03,  4.97881264e-03,  1.47470831e-03,
        1.59524937e-02,  4.52156214e-02,  6.52536154e-02,  5.76570850e-02,
        6.54912301e-03,  2.97396330e-03, -1.57969505e-03, -1.60980326e-02,
        1.09101190e-02,  6.13339709e-02, -5.03180856e-03,  7.05380493e-02,
        3.07312095e-02,  9.39856496e-03, -6.47309975e-03,  2.83115286e-03,
       -3.38379301e-04,  1.75404114e-02,  6.43115149e-02,  9.32672322e-03,
       -1.23775056e-02,  7.42558981e-03, -3.82819572e-03,  1.01111983e-02,
        2.44538701e-03,  6.88695663e-02,  7.29991351e-02,  3.99705617e-03,
        1.15723186e-01,  1.77044313e-03, -7.06886825e-03,  1.91628790e-02,
        4.52950388e-02,  3.40923487e-03, -4.32295345e-03,  2.33692953e-02,
       -1.25397112e-02,  8.98960672e-03,  5.39003086e-02,  4.71856732e-03,
       -3.59530591e-03, -1.09849159e-03, -7.63045406e-04,  1.12900901e-04,
        3.10277490e-02,  6.46411599e-03,  1.07756131e-02,  2.38051751e-02,
        3.69651150e-02,  5.65326632e-02,  1.50704129e-02, -5.55383952e-03,
        6.43705714e-02,  2.00501961e-03,  4.59354756e-03,  1.25989103e-02,
       -1.45150923e-03,  6.53588659e-02, -5.29042658e-03,  5.03757440e-02,
        2.41681459e-02, -7.64760666e-03,  1.40734967e-02,  7.77730084e-03,
        1.35418548e-04,  1.22182490e-02, -5.61824242e-03, -1.07350755e-02,
       -6.79373875e-03,  1.88782253e-02,  8.53254405e-02,  5.75607398e-03,
        1.46122930e-02, -2.24683736e-03, -9.35599723e-04,  9.75460688e-03,
       -9.93895877e-03,  6.74081022e-02, -9.71604590e-03,  2.49368800e-02,
        4.74531825e-02,  1.39320689e-02,  5.53821382e-02, -2.02992003e-03,
       -1.04425596e-02,  1.29209521e-02,  8.86684449e-02, -7.34254821e-03,
       -5.19416826e-03, -4.04676925e-03,  1.26700690e-02,  5.29725135e-02,
       -7.64430658e-03,  1.69943261e-03, -3.33306844e-03,  2.54079229e-02,
       -1.24105688e-02,  6.42722436e-03,  6.53166759e-02,  4.79135170e-03,
       -3.57783819e-03,  9.19881928e-03,  7.74995192e-04,  1.01511828e-03,
        2.89230777e-02,  1.20211543e-02,  4.83781355e-03,  1.59989938e-02,
        3.62580236e-02,  5.07667048e-02,  1.27162168e-02, -5.20619996e-03,
        7.03347207e-02,  1.29498680e-03,  2.66996753e-03, -1.81538536e-02,
        4.14415640e-03,  1.23600455e-02,  1.05764563e-04,  5.75067998e-02,
       -5.49655438e-03,  9.56281081e-02,  2.68298091e-02, -1.20570477e-02,
       -7.80990363e-03,  2.39892684e-02,  1.21833215e-02,  2.74311485e-03,
        1.11834599e-02, -6.02363069e-03, -6.25353210e-03, -4.20389523e-03,
        2.13791315e-02,  6.74731172e-02,  3.34193045e-03,  1.94612763e-02,
       -2.31563288e-03, -5.67051943e-03,  9.61555225e-04, -2.21720171e-04,
       -9.91692087e-03,  5.54691067e-02,  2.65578374e-02,  4.81371739e-02,
        1.24329070e-02,  4.36249655e-02, -7.53875843e-04, -9.70403230e-03,
        2.79793612e-02,  9.31885066e-02, -9.27808578e-03, -6.86282120e-03,
        9.91018775e-04, -5.67378609e-04,  1.65821539e-02,  4.49117201e-02,
       -7.48787989e-03,  5.28491570e-03, -5.16085257e-03,  2.68129566e-02,
       -9.93317534e-03,  1.10693816e-02,  6.08803286e-02,  6.38735698e-03,
       -2.02745287e-03,  1.32242340e-02, -1.05513558e-02, -5.29093118e-03,
        5.86721388e-03,  2.53457494e-03,  4.16158451e-02,  8.80084769e-03,
        3.03461595e-03,  1.67803776e-02,  4.46435252e-02,  4.96015058e-02,
        1.88857230e-02, -5.21139522e-03,  6.75972656e-02,  3.29642373e-03,
        3.59610454e-03,  1.02509605e-02, -1.82536071e-02,  9.40866715e-03,
        1.21954939e-02,  1.40623907e-03,  6.36696548e-02, -5.99762397e-03,
        6.27825436e-02,  2.12545186e-02, -1.19066424e-02, -7.17694053e-03,
        2.57103411e-02,  9.11282174e-03,  3.51138701e-03, -4.22140462e-03,
       -9.97580357e-03, -5.84738524e-03, -3.82717799e-03,  1.85310885e-02,
       -1.14364363e-02,  6.80826624e-02,  5.47135710e-03,  8.87104368e-03,
        3.46357014e-03, -9.40989255e-03,  5.71962075e-02,  3.28654097e-02,
        5.27434195e-02,  1.45576011e-02,  4.42484360e-02, -1.00108418e-02,
       -8.89918901e-03,  6.39466712e-04, -8.32635677e-03,  1.91031756e-02,
        1.11746840e-01, -8.78656670e-03, -6.58699763e-03])