In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Load the dataset
olympic_df = pd.read_csv('..\Resources\Machine_Learning_datasetv2.csv')
olympic_df = olympic_df.drop(['Unnamed: 0'], axis=1)

In [3]:
#Sort for Winter Olympics Results
summer_olympic_df = olympic_df[olympic_df['Season'] == 'Summer']
summer_olympic_df

,NOC,Year,Season,Host,athlete_count_x,Population,GDP per capita,Gold,Silver,Bronze,country_medal_total,athlete_count_y,olympic_total,medal_share,athlete_share
0,AFG,1960,Summer,0,13,8996967.0,1326.0,0.0,0.0,0.0,0.0,5272,297.0,0.000000,0.002466
1,ARG,1960,Summer,0,78,20481781.0,8861.0,0.0,1.0,1.0,2.0,5272,297.0,0.006734,0.014795
2,AUS,1960,Summer,0,201,10276477.0,14013.0,8.0,8.0,6.0,22.0,5272,297.0,0.074074,0.038126
3,AUT,1960,Summer,0,161,7047539.0,10391.0,1.0,1.0,0.0,2.0,5272,297.0,0.006734,0.030539
4,BEL,1960,Summer,0,103,9153489.0,11081.0,0.0,2.0,2.0,4.0,5272,297.0,0.013468,0.019537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2173,TTO,1976,Summer,0,14,1025104.0,15696.0,1.0,0.0,0.0,1.0,4870,338.0,0.002959,0.002875
2174,TUN,1976,Summer,0,5,5786482.0,4095.0,0.0,0.0,0.0,0.0,4870,338.0,0.000000,0.001027
2175,TUR,1976,Summer,0,28,40189561.0,6110.0,0.0,0.0,0.0,0.0,4870,338.0,0.000000,0.005749
2176,USA,1976,Summer,0,445,218035000.0,27058.0,34.0,35.0,25.0,94.0,4870,338.0,0.278107,0.091376
2177,VEN,1976,Summer,0,41,13572210.0,17174.0,0.0,1.0,0.0,1.0,4870,338.0,0.002959,0.008419

In [4]:
# Removing 2016
summer_olympic_df = summer_olympic_df[summer_olympic_df['Year'] != '2016']

In [5]:
#Breaking off columns that will not be used in un-supervised learning

break_off_df = summer_olympic_df[['NOC', 'Year', 'Season', 'athlete_count_x', 'Population', 'country_medal_total', 'athlete_count_y', 'olympic_total', 'medal_share']]
break_off_df.head()

,NOC,Year,Season,athlete_count_x,Population,country_medal_total,athlete_count_y,olympic_total,medal_share
0,AFG,1960,Summer,13,8996967.0,0.0,5272,297.0,0.000000
1,ARG,1960,Summer,78,20481781.0,2.0,5272,297.0,0.006734
2,AUS,1960,Summer,201,10276477.0,22.0,5272,297.0,0.074074
3,AUT,1960,Summer,161,7047539.0,2.0,5272,297.0,0.006734
4,BEL,1960,Summer,103,9153489.0,4.0,5272,297.0,0.013468

In [6]:
#creating a dataframe of columns to supervised learning model on

Cleaned_summer_df = summer_olympic_df.drop(['NOC', 'Year', 'Season', 'athlete_count_x', 'country_medal_total', 'athlete_count_y', 'olympic_total', 'medal_share', 'Gold', 'Silver', 'Bronze' ], axis=1 )
Cleaned_summer_df['lnPopulation'] = np.log(Cleaned_summer_df['Population'])
print(Cleaned_summer_df.shape)
Cleaned_summer_df.head(10)

(1792, 5)

   Host  Population  GDP per capita  athlete_share  lnPopulation
0     0   8996967.0          1326.0       0.002466     16.012398
1     0  20481781.0          8861.0       0.014795     16.835046
2     0  10276477.0         14013.0       0.038126     16.145368
3     0   7047539.0         10391.0       0.030539     15.768189
4     0   9153489.0         11081.0       0.019537     16.029646
5     0  72179235.0          3398.0       0.009863     18.094663
6     0   7867374.0          4642.0       0.028642     15.878235
7     0  17909009.0         13952.0       0.021624     16.700814
8     0    109419.0          6781.0       0.001707     11.602940
9     0   8132988.0          6781.0       0.001707     15.911439

In [7]:
#Dropping Population

Cleaned_summer_df = Cleaned_summer_df.drop(['Population'], axis=1)
Cleaned_summer_df

      Host  GDP per capita  athlete_share  lnPopulation
0        0          1326.0       0.002466     16.012398
1        0          8861.0       0.014795     16.835046
2        0         14013.0       0.038126     16.145368
3        0         10391.0       0.030539     15.768189
4        0         11081.0       0.019537     16.029646
...    ...             ...            ...           ...
2173     0         15696.0       0.002875     13.840305
2174     0          4095.0       0.001027     15.571035
2175     0          6110.0       0.005749     17.509118
2176     0         27058.0       0.091376     19.200166
2177     0         17174.0       0.008419     16.423535

[1792 rows x 4 columns]

In [8]:
X = Cleaned_summer_df

In [9]:
X.shape

(1792, 4)

In [10]:
y = summer_olympic_df.medal_share

In [11]:
y.shape

(1792,)

In [12]:
# Create a model with scikit-learn
model = LinearRegression()

In [13]:
# Fit the data into the model
model.fit(X, y)

LinearRegression()

In [14]:
y_pred = model.predict(X)

In [15]:
# Plot the results. The best fit line is red.
# plt.scatter(X, y)
# plt.plot(X, y_pred, color='red')
# plt.show()

In [16]:
r2 = model.score(X, y)
r2

0.661815588725022

In [17]:
y_pred = model.predict(X)
y_pred
# print('Predicted response:', y_pred, sep='\n')

array([1.19204191e-04, 1.80804797e-02, 5.22372648e-02, ...,
       4.92838849e-03, 1.30732574e-01, 8.17605644e-03])